<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="GBK">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="../css/mobile.css">
    <script src="../js/jquery-1.12.3.js"></script>
</head>
<body>
    <div class="mod_topbar">
        <i class="back"  onclick="history.go(-1)" ></i>
        <div class="hd">列表集合</div>
    </div>
    <div class="mod_content">
        <ul class="list_o">
            <h1 class="list_h1">第一种情况:</h1>
            <li>
                <div class="hd"><a>线路&nbsp;新版采购券201606</a></div>
                <a>
                    <span class="bd">
                        <span class="info_tb">
                            <table>
                                <tr>
                                    <td><i>订单金额：</i><em>￥50.00</em></td>
                                    <td><i>手机号码：</i><a href="tel:18750903385">18750903385</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><i>分销商：</i>厦门文化国际旅行社有限公司</td>
                                </tr>
                            </table>
                        </span>
                        <span class="statebar clearfix">
                            <span class="info">
                                <span>订单号：6251677588</span>
                                <span>下单时间：2016.05.16 10:36</span>
                            </span>
                            <span class="state">已付款(待出游)</span>
                        </span>
                    </span>
                </a>
            </li>
        </ul>
        <h1 class="list_h1">第三种情况:[与第二种差别在下划线]</h1>
        <ul class="list_t list_th">
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐</span>
                        <span class="order_info">
                            <span class="order">订单：<em>0</em></span>
                            <span class="rental">订单总额：<em>￥50.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐2</span>
                        <span class="order_info">
                            <span class="order">订单：<em>2</em></span>
                            <span class="rental">订单总额：<em>￥52.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
        </ul>
        <h1 class="list_h1">第二种情况:</h1>
        <ul class="list_t">
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐</span>
                        <span class="order_info">
                            <span class="order">订单：<em>0</em></span>
                            <span class="rental">订单总额：<em>￥50.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐2</span>
                        <span class="order_info">
                            <span class="order">订单：<em>2</em></span>
                            <span class="rental">订单总额：<em>￥52.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
        </ul>
        <h1 class="list_h1">第五种情况:</h1>
        <ul class="list_t list_fi">
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐</span>
                        <span class="order_info">
                            <span class="order">订单：<em>0</em></span>
                            <span class="rental">订单总额：<em>￥50.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
            <li>
                <a>
                    <span class="info_box">
                        <span class="company_info">就健健康康快快乐乐2</span>
                        <span class="order_info">
                            <span class="order">订单：<em>2</em></span>
                            <span class="rental">订单总额：<em>￥52.00</em></span>
                        </span>
                    </span>
                    <i></i>
                </a>
            </li>
        </ul>
        <h1 class="list_h1">第四种情况:</h1>
        <ul class="list_f">
            <li>
                <div class="hd">分销情况</div>
                <div class="bd"> <p class="item-tt"></p>
                    <div class="unit">
                        <div class="caption">订单总数</div>
                        <div class="detail">
                            <p class="txt_append">flex item</p>
                        </div>
                        <i class="icon_right"></i>
                    </div>
                    <div class="unit">
                        <div class="caption">订单总数</div>
                        <div class="detail">
                            <span class="remind-num">210</span>
                        </div>
                        <i class="icon_right"></i>
                    </div>
                    <div class="unit">
                        <div class="caption">订单总数</div>
                        <div class="detail">
                            <input type="text" placeholder="请输入账户支付密码" />
                        </div>
                        <i class="icon_right"></i>
                    </div>
                </div>
            </li>
        </ul>
        <h1 class="list_h1">第七种情况:</h1>
        <div class="list_sever ">
            <div class="unit_img clearfix">
                <div class="caption">
                    <img src="../img/01.jpg" alt="" class="imgra"/>
                </div>
                <div class="detail">
                    <p >招商银行</p>
                    <p class="tit_wh">尾号6903</p>
                </div>
            </div>
            <div class="unit_img clearfix">
                <div class="caption nopic">
                    <img src="../img/no_data.png" alt="" class=""/>
                    <span class="you">跟团游</span>
                </div>
                <div class="detail">
                    <p >招商银行</p>
                    <p class="tit_wh">尾号6903</p>
                </div>
            </div>
        </div>
        <h1 class="list_h1">第八种情况:</h1>
        <!--用户信息-->
        <div class="userview">
            <div class="userinfo" style="position:relative;">
                        <span class="portrait">
                            <img src="http://192.168.1.36:701/static/images/caigou/nopro_data.jpg" width="66" height="66">
                        </span>
                <a href="javascript:;" style=""
                   class="ui_btn ui_btn_blue info_rt">
                    进入顾问微店</a>
                <div class="info_lt">
                    <p class="user_name">何小姐</p>
                    <p class="user_firm">江苏南京导游</p>
                </div>
            </div>
            <!--userinfo End-->
            <ul class="user_data clearfix">
                <li>
                    <p class="num">399</p>
                    <p class="text">服务游客</p>
                </li>
                <li>
                    <p class="num">1999</p>
                    <p class="text">粉丝数</p>
                </li>
                <li>
                    <p class="num">
                        <span class="star"><i style="width:25%"></i></span>
                        <em>5.0</em>
                    </p>
                    <p class="text">203人评价</p>
                </li>
            </ul>
        </div>
        <h1 class="list_h1">第九种情况:</h1>
        <ul class="list_n">
            <li class="line-item">
                <p class="item-tt">flex item</p>
                <i class="icon_right"></i>
            </li>
            <li class="line-item">
                <p class="item-tt">flex item</p>
                <i class="icon-switch"></i>
            </li>
            <li class="line-item">
                <p class="item-tt">flex item</p>
                <span class="item-append">右侧文字</span>
                <i class="icon_right"></i>
            </li>
            <li class="line-item">
                <p class="item-tt">flex item</p>
                <span class="remind-num">99</span>
                <i class="icon_right"></i>
            </li>
        </ul>
    </div>
</body>
</html>