<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>Loading 动画效果</title>
    <link type="text/css" rel="stylesheet" href="../../../static/asset/mobile/dest/css/usual.css">
</head>
<body>
    <div class="mod_topbar">
        <a class="back" href="javascript:;"  onclick="history.go(-1)"><i class="icon-arr-left"></i></a>
        <div class="title">Loading 动画效果</div>
    </div>
    <!--进度条-->
    <div class="progress-bar"></div>
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
    <div class="spinner-round">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- http://www.html5tricks.com/demo/css3-progress-bar-line/index.html -->
    <div class="loader-container">
      <div class="meter">100</div>
      <span class="runner"></span>
    </div>
    <script>
    </script>
</body>
</html>