.sprite_clear{
    background-image: url('../img/sprite/sprite_usual.png');
    background-position: -27px -27.5px;
    background-size: 50px 49.5px;
    width: 16px;
    height: 16px;
}
.sprite_code{
    background-image: url('../img/sprite/sprite_usual.png');
    background-position: 0px -27px;
    background-size: 50px 49.5px;
    width: 16px;
    height: 22.5px;
}
.sprite_dian{
    background-image: url('../img/sprite/sprite_usual.png');
    background-position: -48px 0px;
    background-size: 50px 49.5px;
    width: 2px;
    height: 8px;
}
.sprite_ic_phone{
    background-image: url('../img/sprite/sprite_usual.png');
    background-position: -27px 0px;
    background-size: 50px 49.5px;
    width: 16px;
    height: 22.5px;
}
.sprite_radio{
    background-image: url('../img/sprite/sprite_usual.png');
    background-position: 0px 0px;
    background-size: 50px 49.5px;
    width: 22px;
    height: 22px;
}
