<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>滚动指示器</title>
    <link type="text/css" rel="stylesheet" href="../../../static/asset/mobile/dest/css/usual.css">
</head>
<body>
    <div class="mod_topbar">
        <a class="back" href="javascript:;"  onclick="history.go(-1)"><i class="icon-arr-left"></i></a>
        <div class="title">滚动指示器</div>
    </div>
    <div class="indicatorbox">
        <div class="header">
            <div class="header-proper">
                <h1 class="logo">滚动<span class="blue">指示器</span></h1>
            </div>
            <div class="scroll-line"></div>
        </div>
        <div class="content">
            <p>跟你在一起的时光全都很耀眼﻿﻿</p>
            <p>因为天气好﻿﻿</p>
            <p>因为天气不好﻿﻿</p>
            <p>因为天气刚刚好﻿﻿</p>
            <p>每一天 都很美好﻿﻿</p>
            <p>你既是我的生路、亦是我的死途， </p>
            <p>而我，喜欢这样的你。</p>
            <p>因此，我怀揣著这个秘密，祈求上天能够允许：</p>
            <p>希望能再多瞒你一天，就这样，只要再多瞒你百年，</p>
            <p>然后，如此活了百年后的某一天，</p>
            <p>天气刚刚好的某一天，</p>
            <p>「你是我的初恋。」希望能这样和你告白......</p>
            <p>我由衷乞求上天允许。</p>
            <p>说过只留下幸福的回忆，但你说让我忘记你。这反而顺序不对啊，跟你在一起的所有的瞬间，就连那些难过，伤心的瞬间，我都觉得是好的。</p>
            <p>人类的寿命区区百年，让我想要转身再回头看一眼的，是我这永生不灭的人生，还是你这张脸？</p>
            <p>29岁的你还是一样笑靥如花，但你的身边，却没有我。</p>
            <p>没有悲伤能持续千年万年，也没有持续数千年的爱情。</p>
            <p>人生嘛，原本就是暂借，暂时的停留。</p>
            <p>地狱，也不是地狱里才有。</p>
            <p>此生遇见你，无与伦比，化成雨，化成初雪，我会祈求神，让我化成这些。</p>
            <p>所以</p>
            <p>在世之人 一定要更努力的生活</p>
            <p>虽然偶尔会哭泣</p>
            <p>但要笑得更多</p>
            <p>活得更坚强</p>
            <p>这就是对所受的爱的报答。</p>
            <p>寻常小事也许会在某一天成为人生的契机，</p>
            <p>表面上迟来的东西也许只是在最恰当的时候出现了。</p>
            <p>困顿不会没有出口，</p>
            <p>只要你不放弃努力前行，</p>
            <p>你总会等到柳暗花明。</p>
            <p>以后不要再召唤我了，没有必要，因为我会一直在你身边，回家吧！回我生活的家，因为你是鬼怪新娘。如果你想听，我也可以说，我爱你。</p>
        </div>
    </div>
    <div class="return" id="J_gotop"><i class="icon-arr-up"></i></div>
    <script src="../../../static/asset/mobile/dest/js/jquery-2.1.4.min.js"></script>
    <script>
        $(window).scroll(function(){
            var wintop = $(window).scrollTop(),
                    docheight = $(document).height(), //文档的高度
                    winheight = $(window).height(); //视窗高度
            //文档高度和视窗高度有一个差值max，其实这个差值就是需要滚动的值，简单的理解就是scroll-line宽度为100%时候的宽度值
            var scrolled = (wintop/(docheight-winheight))*100;
            $('.scroll-line').css('width', (scrolled + '%'));
            //返回到顶部 是否显示
            if ($(window).scrollTop()>100){
                $("#J_gotop").fadeIn(200);
            } else {
                $("#J_gotop").fadeOut(200);
            }
        });
        //当点击回到页面顶部位置
        $("#J_gotop").click(function(){
            $('body,html').animate({scrollTop:0},1000);
            return false;
        });
    </script>
</body>
</html>