<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>tab悬浮，点击滚动相对应位置</title>
    <link type="text/css" rel="stylesheet" href="../../../static/asset/mobile/dest/css/usual.css">
</head>
<body>
    <div class="mod_topbar">
        <a class="back" href="javascript:;"  onclick="history.go(-1)"><i class="icon-arr-left"></i></a>
        <div class="title">tab悬浮</div>
    </div>
    <div class="vainbox">
        <div class="top">
            <img src="../../../static/asset/mobile/dest/img/public/01.jpg" alt="房子" width="100%" />
            <div class="words">孤独又灿烂的鬼怪</div>
        </div>
        <div class="content" id="J_info_tabs">
            <div class="tabs_menu_outside" id="J_tabs_menu_outside">
                <ul class="mod_tabs tabs_menu clearfix" id="J_tabs_menu">
                    <li class="current"><span>内容简介</span></li>
                    <li><span>简评</span></li>
                    <li><span>优美辞藻</span></li>
                </ul>
            </div>
            <div class="tabs_content">
                <div class="tabs_item">
                    <div class="hd">
                        <a href="javascript:;" class="intro">1.内容简介 </a>
                    </div>
                    <div class="bd txtCont">
                        <p>该剧以东方传说为主题，</p>
                        <p>讲述需要通过找到人类新娘来结束不朽生命的鬼怪与失去记忆的阴间使者以及自称是“鬼怪新娘”的一位“本应死去”的少女的奇妙同居生活.</p>
                        <p>高丽时期的大将军金侁（孔刘饰）因为受到王的猜忌而遇害，</p>
                        <p>死后获得了诅咒般的能力——“永生”和强大的能力。</p>
                        <p>拥有不死之身的“鬼怪”金侁，</p>
                        <p>为了结束自己无限循环的生活必需找到一位人类新娘，</p>
                        <p>却在寻找途中阴差阳错与失去记忆的阴间使者王黎（李栋旭饰）开始了奇妙“同居”生活，</p>
                        <p>两人在遇到了传说中的“鬼怪新娘”——一个“命中注定要死”的少女池恩倬（金高银饰）之后，</p>
                        <p>充满浪漫奇幻的故事就此拉来序幕。</p>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="hd">
                        <a href="javascript:;" class="intro">2.简评 </a>
                    </div>
                    <div class="bd txtCont">
                        <p>此生遇见你，无与伦比，化成雨，化成初雪，我会祈求神，让我化成这些。</p>
                        <p>所以</p>
                        <p>在世之人 一定要更努力的生活</p>
                        <p>虽然偶尔会哭泣</p>
                        <p>但要笑得更多</p>
                        <p>活得更坚强</p>
                        <p>这就是对所受的爱的报答。</p>
                        <p>&nbsp;</p>
                        <p>寻常小事也许会在某一天成为人生的契机，</p>
                        <p>表面上迟来的东西也许只是在最恰当的时候出现了。</p>
                        <p>困顿不会没有出口，</p>
                        <p>只要你不放弃努力前行，</p>
                        <p>你总会等到柳暗花明。</p>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="hd">
                        <a href="javascript:;" class="intro">3.优美辞藻 </a>
                    </div>
                    <div class="bd txtCont">
                        <p>跟你在一起的时光全都很耀眼﻿﻿</p>
                        <p>因为天气好﻿﻿</p>
                        <p>因为天气不好﻿﻿</p>
                        <p>因为天气刚刚好﻿﻿</p>
                        <p>每一天 都很美好﻿﻿</p>
                        <p>你既是我的生路、亦是我的死途， </p>
                        <p>而我，喜欢这样的你。</p>
                        <p>因此，我怀揣著这个秘密，祈求上天能够允许：</p>
                        <p>希望能再多瞒你一天，就这样，只要再多瞒你百年，</p>
                        <p>然后，如此活了百年后的某一天，</p>
                        <p>天气刚刚好的某一天，</p>
                        <p>「你是我的初恋。」希望能这样和你告白......</p>
                        <p>我由衷乞求上天允许。</p>
                        <p>&nbsp;</p>
                        <p>说过只留下幸福的回忆，但你说让我忘记你。这反而顺序不对啊，跟你在一起的所有的瞬间，就连那些难过，伤心的瞬间，我都觉得是好的。</p>
                        <p>人类的寿命区区百年，让我想要转身再回头看一眼的，是我这永生不灭的人生，还是你这张脸？</p>
                        <p>29岁的你还是一样笑靥如花，但你的身边，却没有我。</p>
                        <p>没有悲伤能持续千年万年，也没有持续数千年的爱情。</p>
                        <p>人生嘛，原本就是暂借，暂时的停留。</p>
                        <p>地狱，也不是地狱里才有。</p>
                        <p>以后不要再召唤我了，没有必要，因为我会一直在你身边，回家吧！回我生活的家，因为你是鬼怪新娘。如果你想听，我也可以说，我爱你。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../static/asset/mobile/dest/js/jquery-2.1.4.min.js"></script>
    <script>
        //tab悬浮，点击滚动相对应位置 方法一
        var tabScroll = function(obj,titElem,conElem,barHeight,num){
            $(obj).find(titElem).each(function(i){
                $(this).on('click',function(){
                    $('html,body').animate({scrollTop: $(conElem).eq(i).offset().top - barHeight});
                });
            }).eq(num).trigger('click');
            $(window).on('scroll',function(){
                if($(document).scrollTop() > $(obj).offset().top){
                    $(obj).find(titElem).parent().addClass('fixed').css("width",$('#J_info_tabs').width());
                }else{
                    console.log("scrollTop:"+$(document).scrollTop())
                    console.log("Top:"+$(obj).offset().top)
                    $(obj).find(titElem).parent().removeClass('fixed')
                };
                $(obj).find(conElem).each(function(i){
                    var windowTop = $(window).scrollTop(),
                            elemTop = $(obj).find(conElem).eq(i).offset().top - barHeight;
                    if(windowTop >= elemTop){
                        $(obj).find(titElem).eq(i).addClass('current').siblings().removeClass('current');
                    }
                })
            })
        }
        window.tabScroll = tabScroll;
        //调用方式
        window.tabScroll('#J_info_tabs','#J_tabs_menu li','.tabs_item', 35);

        //方法二
        /*$(window).on('resize scroll',function(){
         var windowTop=$(window).scrollTop(); //获取当前滚动条顶部的距离
         slideTop=$('.info_tabs').offset().top; //获取当前元素到屏幕顶部的距离

         if(windowTop > slideTop){
         $('#J_tabs_menu').addClass('fixed').css({
         width:$('.info_tabs').width(),
         left:$('.info_tabs').offset().left
         });
         }else{
         $('#J_tabs_menu').removeClass('fixed').css({
         width:'auto',
         left:0
         });
         }

         $('.tabs_content .tabs_item').each(function(i){
         var miniTop = $('.tabs_item').eq(i).offset().top - 40;
         console.log("miniTop"+miniTop)
         if(windowTop >= miniTop){
         $('.li').eq(i).addClass('on').siblings().removeClass('on');
         }
         })
         });

         $('.li').click(function(){
         var idx = $(this).index();
         $('html,body').animate({scrollTop: $('.tabs_item').eq(idx).offset().top-40});
         });*/
    </script>
</body>
</html>