<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>目录</title>
    <link type="text/css" rel="stylesheet" href="../../static/asset/mobile/dest/css/usual.css">
</head>
<body>
<div class="mod_topbar">
    <a class="back" href="javascript:;"  onclick="history.go(-1)"><i class="icon-arr-left"></i></a>
    <div class="title">首页</div>
    <a class="lik" href="javascript:;">明细<i class="icon-arr-right"></i></a>
</div>
<div class="arrbox">
    <p class="title"><a class="caption full" href="list/detail.html;">列表</a></p>
    <p class="title"><a class="caption full" href="dialog/popup.html;">弹窗</a></p>
    <p class="title"><a class="caption full" href="graphics.html;">图形集合</a></p>
</div>
<div class="mod_toolbar">
    <a href="javascript:;" class="btn">咨询客服</a>
    <a href="javascript:;" class="btn orange">立即预订</a>
</div>
<script type="text/javascript">
</script>
</body>
</html>