@charset "utf-8";
//tab/表单样式
//tab切换
.mod_tabs{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
    background: $white;
    li{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        a,span{
            display: inline-block;
            color: #666;
            border-bottom: 2px solid transparent;
        }
        &.current{
            a,span{
                color: #ffad3a;
                border-bottom-color: #ffad3a;
            }
        }
    }
}
//表单
.mod-form{
    .tips{
        padding: 11px 15px 7px;
        background: #f1f1f1;
        color: $colThin;
        @extend %f13;
    }
}
.mod-form-item{
    background: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    &.mt15{ margin-top: 15px;}
    //默认左边留出15px的边距
    &.space{
        .item-unit{
            margin-left: 15px;
            .item-tit{ padding-left: 0}
            &:last-child{ border-bottom: none;}
        }
    }
    //图文
    &.graphic{
        .item-unit{
            .item-tit{
                width: 20px;
                .sm-img{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .form-input{ vertical-align: -1px;}
        }
    }
    //字段两端对齐
    &.spacing{
        .item-unit{
            .item-tit{
                position: relative;
                width: 95px;
                height: 46px;
                margin-right: 22px;
                text-align: justify;
                text-align-last: justify;
                &:before{
                    display: inline-block;
                    position: absolute;
                    top:50%;
                    right: -6px;
                    content: ' ';
                    width: 2px;
                    height: 8px;
                    background-image: url('../img/sprite/sprite_usual.png');
                    background-position: -48px 0px;
                    background-size: 50px 49.5px;
                    margin-top: -3px;
                    z-index: 110;
                }
                &:after{
                    display: inline-block;
                    overflow: hidden;
                    width: 100%;
                    height: 0;
                    content: ' ';
                    vertical-align: top;
                }
            }
        }
    }
    .item-unit{
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        font-size: 14px;
        line-height: 26px;
        border-bottom: 1px solid $colBorderOut;
        overflow: hidden;
        &:last-child{ border-bottom: none;}
        //左标题
        .item-tit{
            width: 100px;
            padding-left: 15px;
            margin-right: 5px;
            line-height: 46px;
            &.full{ width: 100%;}
        }
        //详情
        .item-con{
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            padding-right: 10px;
            min-height: 46px;
            line-height: 46px;
            //多行文本 垂直居中
            &.more{
                display: table;
                overflow: hidden;
            }
            //文本超过一行
            .more-text{
                display: table-cell;
                padding-right: 105px;
                vertical-align: middle;
                line-height: 1.5;
                box-sizing: border-box;
            }
            //清除键
            &.clear{
                padding-right: 40px;
                position: relative;
                display: block;
                i{
                    display: none;
                    position: absolute;
                    top: 50%;
                    bottom: 0;
                    right: 20px;
                    margin-top: -8px;
                }
            }
            //带有验证码的输入框
            &.code{
                padding-right: 100px;
                position: relative;
                .form-countdown {
                    position: absolute;
                    top: 50%;
                    height: 46px;
                    margin-top: -25px;
                    right: 15px;
                    font-size: 16px;
                    button,
                    span {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 80px;
                        vertical-align: middle;
                        line-height: 26px;
                        border: 0;
                        text-align: center;
                        border-radius:13px;
                        color: #fff;
                        background-color: $colBorderOut;
                        font-size: 14px;
                        &.on { background-color: $themeOrange;}
                    }
                    .hide{ display: none;}
                }
            }
        }
    }
    //输入框
    .form-input {
        width: 100%;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        padding: 6px 0;
        font-size: 16px;
        &:focus{
            border: 0;
            outline: 0;
            -webkit-tap-highlight-color:rgba(0,0,0,0);
        }
    }
    &.border-ntop{ border-top: none;}
    &.border-nbottom{ border-bottom: none;}
}
//
.btn_group{
    margin: 15px;
}
// 对应适配
@media only screen and (max-width: 321px) {
    .mod-form-item{
        .item-unit {
            .item-tit{ width: 100px;}
        }
        &.spacing{
            .item-unit {
                .item-tit{ width: 83px;}
            }
        }
    }
}