<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <title>T型布局</title>
    <link rel="stylesheet" href="../../../static/asset/desktop/dest/css/usual.css">
</head>
<body class="t-layout">
    <!--wrapper 总容器 begin-->
    <div class="wrapper">
        <!--sidebar-menu 右侧边栏-菜单 begin-->
        <div class="sidebar-right"></div>
        <!--header 头部 begin-->
        <div class="header">
            <ul class="site-nav-l">
                <li>欣欣旺铺演示店铺测试（AA）</li>
                <li>新版指南</li>
            </ul>
            <!--导航-->
            <ul class="site-nav-r">
                <li>网站导航</li>
                <li>我的主页</li>
                <li>我的商城</li>
                <li>我的网店</li>
                <li>下午好,milly</li>
            </ul>
        </div>
        <!--sidebar-menu 左侧边栏-菜单 begin-->
        <div class="sidebar-menu">
            <div class="main-menu" >
                <!--边导航 begin-->
                <ul class="sidebar" id="J-sidebar">
                    <li class="bg-blue active">
                        <a href="#">
							<span class="menu-content">
								<span class="menu-icon"><i class="icon-shouye"></i></span>
								<span class="text mt10">Dashboard</span>
							</span>
                        </a>
                    </li>
                    <li class="bg-purple openable">
                        <a href="#">
							<span class="menu-content">
								<span class="menu-icon"><i class="icon-electronics"></i></span>
								<span class="text mt10">Form Elements</span>
								<span class="submenu-icon"></span>
							</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="#"><span class="submenu-label">Form Element</span></a></li>
                            <li><a href="#"><span class="submenu-label">Form Validation</span></a></li>
                            <li><a href="#"><span class="submenu-label">Form Wizard</span></a></li>
                            <li><a href="#"><span class="submenu-label">Dropzone</span></a></li>
                        </ul>
                    </li>
                    <li class="bg-blue">
                        <a href="#">
							<span class="menu-content">
								<span class="menu-icon"><i class="icon-shijian"></i></span>
								<span class="text mt10">Inboxs</span>
								<small class="badge badge-danger badge-square bounceIn animation-delay5 m-left-xs">5</small>
							</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--main 身体 begin-->
        <div class="main">
            <div class="content">
                <style type="text/css">
                    input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none !important;
                        margin: 0;
                        height: auto;
                    }

                </style>
                <input type="number" value="2" />
                写结构的时候要注意，父元素的的三栏务必先写中间盒子。因为中间盒子是要被优先渲染嘛~并且设置其自适应，也就是width:100%。
                写结构的时候要注意，父元素的的三栏务必先写中间盒子。因为中间盒子是要被优先渲染嘛~并且设置其自适应，也就是width:100%。
                写结构的时候要注意，父元素的的三栏务必先写中间盒子。因为中间盒子是要被优先渲染嘛~并且设置其自适应，也就是width:100%。写结构的时候要注意，父元素的的三栏务必先写中间盒子。因为中间盒子是要被优先渲染嘛~并且设置其自适应，也就是width:100%。
            </div>
        </div>
        <!--footer 尾部 begin-->
        <div class="footer"></div>
    </div>
    <script src="../../../static/asset/desktop/dest/js/lib/jquery-2.1.4.min.js"></script>
    <!--<script src="//cdn.bootcss.com/jQuery-slimScroll/1.3.6/jquery.slimscroll.min.js"></script>-->
    <script src="../../../static/asset/desktop/dest/js/lib/jquery.slimscroll.js"></script>
    <script type="text/javascript">
       $(".main-menu").slimScroll({
           height: '100%'
       });
        $("#J-sidebar").find("li").hover(function(){
            $(this).addClass("active").siblings().removeClass("active");
        },function(){
            $(this).removeClass("active").siblings().eq(0).addClass("active");
        })
        $("#J-sidebar").find(".openable").click(function(){
            if (!$(this).hasClass('open')){
                $(this).addClass('open').find(".submenu").show();
            }else{
                $(this).removeClass('open').find(".submenu").hide();
            }

        })
    </script>
</body>
</html>